<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661649712307-g1mpmhpr9eo1ir7r19n7llguoe2to7pq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661649712307-g1mpmhpr9eo1ir7r19n7llguoe2to7pq</string>
	<key>API_KEY</key>
	<string>AIzaSyByaGV9O1Jy0K_LpWFljXdK79ea8Wrl77o</string>
	<key>GCM_SENDER_ID</key>
	<string>661649712307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tarea.proyecto.proyectointegrador3</string>
	<key>PROJECT_ID</key>
	<string>proyectointegra-ed490</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectointegra-ed490.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661649712307:ios:5523645bd96a816859bcc6</string>
</dict>
</plist>